{% extends "base.html" %}

{% block title %}
    XYZ Blog - Create Account
{% endblock %}

{% block content %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/assets/img/sign-up-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>Join Us</h1>
                        <span class="subheading">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, veniam voluptates? Ipsam?</p>
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category , err in messages %}
                                <div class="alert alert-{{category}}" role="alert">
                                    {{ err }}
                                </div>
                            {% endfor%}
                        {% endif %}
                    {% endwith %}
                    <div class="my-5">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">
                            {{ form.hidden_tag() }}
                            <div class="form-floating">
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control is-invalid", placeholder="Enter your name...") }}
                                    {{ form.name.label() }}
                                        <div class="invalid-feedback">
                                            {% for err_msg in form.name.errors %}
                                                <span>{{ err_msg }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.name(class="form-control", placeholder="Enter your name...") }}
                                    {{ form.name.label() }}
                                {% endif %}
                            </div>
                            <div class="form-floating">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid", placeholder="Enter your email...") }}
                                    {{ form.email.label() }}
                                        <div class="invalid-feedback">
                                            {% for err_msg in form.email.errors %}
                                                <span>{{ err_msg }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.email(class="form-control", placeholder="Enter your email...") }}
                                    {{ form.email.label() }}
                                {% endif %}
                            </div>
                            <div class="form-floating">
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control is-invalid", placeholder="Enter username to use...") }}
                                    {{ form.username.label() }}
                                        <div class="invalid-feedback">
                                            {% for err_msg in form.username.errors %}
                                                <span>{{ err_msg }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.username(class="form-control", placeholder="Enter username to use...") }}
                                    {{ form.username.label() }}
                                {% endif %}
                            </div>
                            <div class="form-floating">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control is-invalid", placeholder="Enter password...") }}
                                    {{ form.password.label() }}
                                        <div class="invalid-feedback">
                                            {% for err_msg in form.password.errors %}
                                                <span>{{ err_msg }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.password(class="form-control", placeholder="Enter password...") }}
                                    {{ form.password.label() }}
                                {% endif %}
                            </div>
                            <div class="form-floating">
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control is-invalid", placeholder="Confirm Password...") }}
                                    {{ form.confirm_password.label() }}
                                        <div class="invalid-feedback">
                                            {% for err_msg in form.confirm_password.errors %}
                                                <span>{{ err_msg }}</span>
                                            {% endfor %}
                                        </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control", placeholder="Confirm Password...") }}
                                    {{ form.confirm_password.label() }}
                                {% endif %}
                            </div>
                            <br/>
                            {{ form.submit(class="btn btn-warning text-uppercase") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>    
{% endblock %}